.trace {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.trace__text {
  font-weight: bold;
  font-size: 2rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trace__circle {
  width: 67px;
  height: 67px;
}

.trace__text_red {
  background-image: linear-gradient(48.03deg, var(--start-grad-color-3) 7.97%, var(--end-grad-color-3) 100%);
}

.trace__text_blue {
  background-image: linear-gradient(48.03deg, var(--start-grad-color-1) 7.97%, var(--end-grad-color-1) 100%);
}

.trace__text_purple {
  background-image: linear-gradient(48.03deg, var(--start-grad-color-2) 7.97%, var(--end-grad-color-2) 100%);
}
