.presentation {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.presentation__item {
  text-align: center;
}

.presentation__sub-title {
  font-size: 3.5rem;
  margin: 0 0 40px;
}

.presentation__description {
  max-width: 680px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: var(--blur-text-color);
}
