.initial-information-board__container{
    display: flex;
    justify-content: space-between;
    min-width: 56.5rem;
    height: 3.5rem;
    background-color: rgb(245,245,245);
    padding: 0 25px;
    border: 1px solid rgb(236,236,236);
    border-radius: 8px;
}

.initial-information-board__icon{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.initial-information-board__info{
    display: flex;
    align-items: center;
    gap: 15px;
}