:root {
  --primary-light-color: #fafafa;
  --border-light-color: #f5f5f5;
  --accent-light-color: #eaeaea;

  --default-transition-time: 200ms;

  --blur-text-color: #444;
  --dark-text-color: #000;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}
