.engText{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    gap: 10px;
    color: #4F4F4F;

}

.engText span:nth-child(2){
    margin: 15px 0 0 20px;
}

.engText span:nth-child(3){
    margin: 0 0 15px 40px;
}

.engText span:nth-child(4){
    margin: 0 0 0 60px;
}