.toasts__item-enter {
  transform: translateX(calc(-100% - 20px));
  opacity: 0;
}

.toasts__item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity var(--default-transition-time) ease-in, transform var(--default-transition-time) ease-in;
}

.toasts__item-exit {
  opacity: 1;
  transform: translateX(0);
}

.toasts__item-exit-active {
  transform: translateX(calc(-100% - 20px));
  opacity: 0;
  transition: opacity var(--default-transition-time) ease-in, transform var(--default-transition-time) ease-in;
}
