.navbar__item{
    margin-bottom: 34px;
    cursor: pointer;
}

.navbar__item-link__active{
    color: black;
}

.navbar__item-link__default{
    color: var(--blur-text-color);
}

.navbar__item-link{
    text-decoration: none;
}