.profile-content-header_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-content-header_title{
    font-size: 2rem;
    margin: 0;
}

.profile-content-header_text-header{
    font-size: 1.25rem;
    color: #444;
    margin: 0;
}