@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Ubuntu&display=swap');

.page {
  background-color: var(--primary-light-color);
  font-family: 'Ubuntu', sans-serif;
}

.user-profile__container{
  display: flex;
  gap: 60px;
  padding: 75px 0 30px 0;
}
  