.loader{
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    width: 100%;
}

.loader__gradient--default{
    background: linear-gradient(to right, #FF6B00, #ECF100);
}

.loader__gradient--blueToСyan{
    background: linear-gradient(to right, #006ACC, #00C2FF);
}

.loader__gradient--violetToMagenta{
    background: linear-gradient(to right, #6B00D7, #C90085);
}

.loader__hidden{
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #FAFAFA;
    z-index: 2;
    animation: 1.5s cubic-bezier(0.19, 0.5, 1, 0.7) hidden forwards;
}

@keyframes hidden {
    0%{
        position: absolute;
        width: 100%;
        left: 0;
        background-color: #FAFAFA;
        z-index: 2;
    }
    100%{
        position: absolute;
        width: 0;
        left: 100vw;
        background-color: #FAFAFA;
        z-index: 2;
    }
}