.sing-in {
  composes: center-page from '@styles/utils.module.css';
  composes: full-height-form from '@styles/utils.module.css';
}

.sing-in__title {
  font-size: 2.5rem;
}

.sing-in__networks {
  list-style: none;
  display: flex;
  gap: 25px;
}
