.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
  height: calc(100dvh - var(--header-height));
}

.title__description {
  color: var(--blur-text-color);
  font-size: 1.5rem;
  max-width: 828px;
  text-align: center;
}

.title__contributors {
  font-size: 1.3rem;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  text-align: center;
}

.title__text {
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
  display: flex;
  position: relative;
}

.title__text-1,
.title__text-2,
.title__text-3 {
  position: relative;
  height: 1.2em;
}

.title__text-content1 {
  background: linear-gradient(90deg, var(--start-grad-color-1) 0.17%, var(--end-grad-color-1) 33.9%);

  text-shadow: 2px 2px 10px rgba(0, 148, 255, 0.2);

  animation: animated-gradient-text_fade-foreground-1 8s linear infinite;
}

.title__text-content2 {
  background: linear-gradient(91.83deg, var(--start-grad-color-2) 0.6%, var(--end-grad-color-2) 99.46%);
  text-shadow: 2px 2px 10px rgba(191, 0, 238, 0.3);
  animation: animated-gradient-text_fade-foreground-2 8s linear infinite;
}

.title__text-content3 {
  background: linear-gradient(91.51deg, var(--start-grad-color-3) 0%, var(--end-grad-color-3) 90%);
  animation: animated-gradient-text_fade-foreground-3 8s linear infinite;
  text-shadow: 2px 2px 10px rgba(255, 184, 0, 0.3);
}
.title__text-content1,
.title__text-content2,
.title__text-content3 {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title__text-1::before,
.title__text-2::before,
.title__text-3::before {
  content: var(--content);

  position: absolute;
  display: block;
  text-align: center;
  color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 1.2em;
}

@keyframes animated-gradient-text_fade-foreground-1 {
  33.333%,
  83.333% {
    opacity: 0;
  }
  0%,
  16.667%,
  to {
    opacity: 1;
  }
}

@keyframes animated-gradient-text_fade-foreground-2 {
  0%,
  16.667%,
  66.667%,
  to {
    opacity: 0;
  }
  33.333%,
  50% {
    opacity: 1;
  }
}

@keyframes animated-gradient-text_fade-foreground-3 {
  0%,
  50%,
  to {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}

@media screen and (width <= 1215px) {
  .title__text {
    font-size: 3.4rem;
  }
}
@media screen and (width >= 2000px) {
  .title__text {
    font-size: 6rem;
  }

  .title__description {
    font-size: 1.6rem;
  }
}
